body{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  @extend %Rubik-500;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-two{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  color: #191919;
  @extend %DMSans-700;  
}
.filter__title{
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  @extend %DMSans-700;
  color: $title__2;
  position: relative;
  margin-bottom: 29px;
}
.filter__title::before{
  content: "";
  background-image: url('../images/icons/filter-title-line.png');
  position: absolute;
  top: 9px;
  right: -52px;
  height: 3px;
  width: 38px;
}

.breadcrumbs{
  .breadcrumbs__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    color: #222933;
    padding-right: 20px;
    @extend %Rubik-400;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      top: 0;
      right: 6px;
      color: #8b8f94;
    }
    &:last-child{
      padding-right: 0px;
      &::after{
        display: none;        
      }
    }
  }
  &__link{
    color: #8b8f94;
  }
}

.header--404-page{
  background-color: #f6f6f6;
}

.pagination{ 
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .pagination__list{
    display: flex;
    align-items: center;
  }  
  &__item{
    margin-right: 15px;
  }
  &__link{
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    border: 1px solid $btn;
    padding: 20px 23px;  
    transition: all .5s;
  }
  &__link:hover{
    color: $btn;
  }
  &__link--active{
    color: #fff;
    background-color: $btn;
  }
  &__link--active:hover{
    color: $title__2;
    background-color: #fff;
  }
  &__next{
    font-size: 16px;
    line-height: 19px;
    color: $title__2;
    border: 1px solid #a3bbc8;
    padding: 20px 23px;
    margin-right: 15px;
    transition: all .5s;
  }
  &__next:hover{
    color: $btn;
  }
}
.pagination--list{
 display: flex;
 justify-content: flex-start;
 margin-top: 80px;
 margin-left: 45px;
} 