body{
  font-size: 14px;
  line-height: 24px;
  color: $default;
  @extend %Rubik-500;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-two{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  color: #191919;
  @extend %DMSans-700;  
}