body{
  font-size: 14px;
  line-height: 24px;
  color: $default;
  @extend %Rubik-500;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-two{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 36px;
  color: #191919;
  @extend %DMSans-700;  
}

.breadcrumbs{
  .breadcrumbs__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    color: #222933;
    padding-right: 20px;
    @extend %Rubik-400;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      top: 0;
      right: 6px;
      color: #8b8f94;
    }
    &:last-child{
      padding-right: 0px;
      &::after{
        display: none;        
      }
    }
  }
  &__link{
    color: #8b8f94;
  }
}
