$accent: #fcd7b6;
$default: #7b7b7b;
$title: #1a1a1a;
$title__2: #243f4d;
$btn: #a3bbc8;


%Rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-400{
  font-family: 'Rubik-Regular' sans-serif;
  font-weight: 400;
}

%Rubik-300{
  font-family: 'Rubik-Light' sans-serif;
  font-weight: 300;
}

%DMSans-700{
  font-family: 'DMSans-Bold' sans-serif;
  font-weight: 700;
}

%DMSans-500{
  font-family: 'DMSans-Medium' sans-serif;
  font-weight: 500;
}

%DMSans-400{
  font-family: 'DMSans-Regular' sans-serif;
  font-weight: 400;
}

@function max($nambers...) {
  @return m#{a}x(#{nambers});
}
@function min($nambers...) {
  @return m#{i}n(#{nambers});
}
