@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 42px;
  }
  .menu{
    padding-left: 148px;
    padding-top: 6px;
    &__list{
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
    &__list-link{
      font-size: 15px;
      line-height: 12px;
      font-weight: 600;
      color: #436372;
      @extend %Rubik-500;
      transition: .3s;
    }
    &__list-link:hover{
      color: $accent;
    }
    &__list-item + .menu__list-item{
      padding-left: 35px;
    }
  }
  .user-nav{
    margin-top: -2px;
    display: flex;
    justify-content: space-between;
    &__link{
      position: relative;
    }
    &__link-img{
      width: 18px;
      height: 18px;
    }
    &__link-magnifier{
      border: 1px solid #edf1f4;
      background-color: #edf1f4;
      border-radius: 50%;
      padding: 15px;
      padding-bottom: 8px;
      margin-right: 20px;
      transition: all .5s;
    }  
    &__link-magnifier:hover{
      background-color: $title__2;
      transition: all .5s;
      path{
        fill: #fff;
      }
    }
    &__link-heartCart{
      display: flex;
      border: 1px solid #fcd7b6;
      background-color: #fcd7b6;
      border-radius: 30px;
      padding: 0px 40px;
      align-items: center;
      transition: all .5s;
    }
    &__link-heartCart:hover{
      border: 1px solid $title__2;
      background-color: $title__2;
      transition: all .5s;
      path{
        fill: #fff;
      }
    }
    &__line{
      color: #fff;
      font-size: 0;
      border-right: 1px solid #fff;
      padding: 5px 0px;
    }
    &__link-heart{
      margin-right: 28px;
      margin-top: 14px;
    }  
    &__link-cart{
      margin-left: 28px;
      margin-top: 14px;
    }
    &__link-menu{
      border: 1px solid $btn;
      background-color: $btn;
      border-radius: 50%;
      padding: 15px;
      padding-bottom: 0;
      margin-left: 20px;
      transition: all .3s;
    }
    &__link-menu:hover{
      border: 1px solid $title__2;
      background-color: $title__2;       
    }
    &__nam{
      position: absolute;
      width: 16px;
      height: 15px;
      top: -8px;
      right: -8px;
      text-align: center;
      line-height: 14px;
      font-size: 10px;
      @extend %DMSans-400;
      color: $title__2;      
      border: 1px solid #fff; 
      border-radius: 50%;
      background-color: #fff;      
    }
  }
}

.about-us{
  &__top{
    display: flex;
    margin-bottom: 120px;
  }  
  &__img{
    width: 100%;
    margin: 10px 45px 0 -2px;
  }
  &__content-box{
    display: flex;
    margin: 126px 0 43px 8px;
    .content-box__number{
      font-size: 140px;
      line-height: 32px;
      color: $btn;
      @extend %DMSans-700;
    }
    .content-box__items{
      margin-left: 28px;
      margin-top: -12px;
    }
    .content-box__text{
      font-size: 16px;
      color: $title__2;
      margin-bottom: 5px;
      @extend %Rubik-400;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 35px;
    @extend %DMSans-700;
    color: $title__2;
    margin-bottom: 38px;
    margin-left: 2px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    @extend %Rubik-400;
    margin-bottom: 62px;
  }
  &__line{
    width: 500px;
    margin-left: 5px;
    border: 1px solid #e6eaf0;
  }  
  &__info{
    display: flex;
    justify-content: space-between;    
    max-width: 527px;
  }
  &__info-item{
    position: relative;
    padding-left: 60px;
    margin-top: 26px;
    .info-item__number{
      font-size: 36px;
      line-height: 38px;
      color: $title__2;
      margin-bottom: 3px;
      @extend %DMSans-700;
    }
    .info-item__text{
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
      @extend %DMSans-700;
    }
  }  
  &__info-projects::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/projects.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;   
  }
  &__info-revenue::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/revenue.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;   
  }
  &__info-awards::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/awards.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;    
  }
  &__statistics{
    background-color: $accent;   
    margin-bottom: 125px; 
  }
  &__statistics-items{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 93px;
    height: 320px;    
    .about-us__statistics-item{
      position: relative;
      text-align: center;
    }
    .statistics-item__clients{
      margin-left: 40px;
      .statistics-item__img{
        top: -80px;
        left: 55px;
      }
    }
    .statistics-item__products{
      margin-left: -22px;
      .statistics-item__img{
        top: -72px;
        left: 44px;
      }      
    }
    .statistics-item__time{
      margin-right: 0px;
       .statistics-item__img{
        top: -84px;
        left: 42px;
      }
    }
    .statistics-item__brands{  
      margin-right: 66px;
       .statistics-item__img{
        top: -84px;
        left: 38px;
      }
    }    
    .statistics-item__img{
      position: absolute;
      margin-bottom: 30px;
      top: 0;
      left: 0;
    }
    .statistics-item__number{
      font-size: 36px;
      line-height: 32px;
      @extend %DMSans-700;
      color: $title__2;
      margin-bottom: 13px;
    }
    .statistics-item__text{
      font-size: 18px;
      line-height: 32px;
      @extend %DMSans-700;
      color: $title__2;
    }
  }  
}

.team{
  margin-bottom: 86px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__inner-content{
    max-width: 330px;
    margin-right: 67px;
  }
  &__content-title{
    font-size: 36px;
    line-height: 32px;
    @extend %DMSans-700;
    color: $title__2;
    margin-bottom: 25px;
  }
  &__content-text{
    font-size: 16px;
    line-height: 30px;
    @extend %Rubik-400;
    color: $title__2;
    margin-bottom: 35px;
  }
  &__content-btn{
    @extend %btn;
  }
  &__content-btn:hover{
    background-color: $title__2;
    border: 1px solid  $title__2;
    border-radius: 3px;
  }
  &__content-btn::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 17px;
    right: 20px;
    height: 8px;
    width: 20px;    
  }
  &__inner-items{
    display: flex;
    flex-wrap: wrap;    
  }
  &__item{
    width: calc(100% / 2 - 0px);
    margin-bottom: 20px;
    z-index: 2;
  }
  &__item-box{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: -55px;
    z-index: 1;
    max-width: 325px;
    padding: 30px 25px;
    position: relative;    
  } 
  &__item-name{
    font-size: 22px;
    line-height: 26px;
    @extend %DMSans-700;
    color: #436372;
  }
  &__item-text{
    font-size: 16px;
    line-height: 30px;
    @extend %Rubik-400;
    color: #565872;
  }
  &__item-link{
    position: absolute;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    border-radius: 50%;  
    transition: all .5s;  
  }
  &__item-link:hover{
    background-color: $btn;
    transform: scale(1.1);
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.5);
  }
  &__item-link--inst{    
    top: 30px;
    right: 70px;   
    padding: 12px; 
  }
  &__item-link--google{
    top: 30px;
    right: 22px;
    padding: 13px 9px;
  }
}

.page{
  &__top{
    height: 125px;
    background-color: #edf1f4;
    text-align: center;
    padding: 35px 0;
    margin-bottom: 113px;
  }
  &__title{
    font-size: 35px;
    line-height: 24px;
    color: #222933;    
    @extend %Rubik-300;
    margin-bottom: 15px;
  }
}

.login{    
  &__reg{
    max-width: 470px;
    margin: 0 auto 85px;
  }
  &__label{
    color: #436372;
    @extend %Rubik-400;
  }
  &__checkbox{
    margin-left: 0;
    margin-right: 13px;
  }
  &__input{  
    height: 58px;
    width: 100%;
    display: block;
    border: 1px solid #f6f6f6;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 7px;
  }
  &__btn-log{
    width: 100%;
    max-height: 60px;
    padding: 17px 0;
    font-size: 18px;
    border: 1px solid $btn;
    color: #fff;
    background-color: $btn;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: -2px;
    transition: all 0.3s;
  }
  &__btn-log:hover{
    border: 1px solid $title__2;
    background-color: $title__2;
    color: #fff;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  &__lost{
    color: #436372;
    @extend %Rubik-400;
    transition: all 0.3s;
  }
  &__lost:hover{
    color: $title__2;
  }
  &__text{
    text-align: center;
    margin-bottom: 19px;
    color: #436372;
  }
  &__btn-create{
    width: 100%;
    max-height: 60px;
    padding: 16px 0;
    font-size: 18px;
    border: 1px solid $btn;
    color: $title__2;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 35px;
    transition: all 0.3s;
  }
  &__btn-create:hover{
    border: 1px solid $title__2;
    background-color: $title__2;
    color: #fff;
  }
}

.terms-conditions{  
  &__inner{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 115px;
  padding-left: 15px;
  }
  .terms-conditions__list{
    margin-bottom: 55px;
  }
  &__content{
    .terms-conditions__title{
      margin-bottom: 12px;
    }
    .terms-conditions__text{
      margin-bottom: 54px;
    }
  }
  &__title{
    font-size: 24px;
    line-height: 40px;
    color: $title__2;
    @extend %Rubik-500;
    margin-bottom: 18px;
  }
  &__text{
    padding-left: 8px;
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    @extend %Rubik-400;
    margin-bottom: 20px;    
  }
  &__item{
    margin-left: 34px;
  }
}

.product-shop{
  margin-bottom: 120px;
    &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 10px;
  }

  &__content{
    width: 890px;    
  }
  .product-shop__content-filter{
    .content-filter__buttons{
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .content-filte__btn{
      padding: 0;
      border: none;
      background-color: transparent;
      margin-left: 15px;
      cursor: pointer;
      &.content-filte__btn--active{
        path{
          fill: $accent;
        }
      }
    }
  }
  &__items{    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-left: 20px;  
    .products__item{
      width: calc(100% / 3 - 30px);
      .products__item-image{
        margin: auto;
      }
      .star-product, .product__item-text, .product__item-btn{
        display: none;
      }     
      &.products__item--list{
        width: calc(100% / 1 - 40px);    
        height: 500px;
        box-shadow: none;
        display: flex;        
        .products__item-box{
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .products__item-image{
          width: 370px;
          height: 490px;
          border: 1px solid #f2f2f2;
          padding: 80px 20px; 
          margin-top: 10px;
          display: flex;
          align-items: center;
        }   
        .products__item-img{           
          object-fit: contain;
          width: 300px;
          max-height: 300px;
        }
        .product__item-info{
          max-width: 450px;  
          margin-top: 30px;
          margin-left: 50px;
          text-align: left;
        }
        .star-product, .product__item-text, .product__item-btn{
          display: block;
        }                 
        .products__item-link{
          display: none;
        } 
        .products__item-title{
          font-size: 40px;
          line-height: 40px;
          color: #333333;
          @extend %Rubik-400;
          margin-bottom: 18px;
        }    
        .products__item-price{
          font-size: 30px;
          line-height: 45px;
          color: #333333;
          @extend %Rubik-400;
          margin: 30px 0 20px 5px;
        }
        .product__item-text{
          font-size: 16px;
          line-height: 30px;
          color: $title__2;
          margin-bottom: 30px;
          margin-left: 10px;
        } 
        .product__item-btn{
          color: #fff;
          text-transform: uppercase;
          border: 1px solid $btn;
          background-color: $btn;
          padding: 12px 52px;
          border-radius: 5px;
          margin-left: 10px;
          cursor: pointer;
          transition: all .5s;
        }
        .product__item-btn:hover{
          background-color: $title__2;
        }        
      }
    }     
  }
}

.product-detalis{
  margin-bottom: 110px;
  &__inner{
    display: flex;
  }
  .product-slide{
    display: flex;
    width: 550px;
    margin-right: 70px;
    &__thumb{
      width: 140px;
      margin-right: 25px;
    }
    &__thumb-item{
      margin-bottom: 15px;
      width: 140px;
      height: 160px;
      cursor: pointer;
      img{
        width: 140px;
        height: 160px;
        object-fit: contain;   
        border: 2px solid #f2f2f2;     
      }
    }
    &__big{
      width: 385px;
      height: 530px;      
      img{
        width: 385px;
        height: 530px;
        padding: 60px;
        object-fit: contain; 
        border: 2px solid #f2f2f2;      
      }
    }
  }
  &__content{
    width: 550px;
  }
  &__content-title{
    @extend %Rubik-400;
    font-size: 40px;
    color: #333333;
    margin: 30px 0 25px;
  }
  &__content-star{
    margin-bottom: 22px;
  }
  &__content-price{
    @extend %Rubik-400;
    font-size: 30px;
    color: #333333;
  }
  &__content-text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    margin: 30px 0 35px;
  }
  &__content-form{
    margin-bottom: 60px;
  }
  &__content-btn{
    @extend %btn;
    border-radius: 5px;
    padding: 18px 50px;    
    margin-left: 15px;
    text-transform: uppercase;
  }
  &__content-btn:hover{
    background-color: $title__2;
  }
  &__info-item{
    display: flex;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
  }
  &__info-title{
    margin-right: 5px;    
  }
  &__info-link{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    transition: all .5s;
  }
  &__info-link:hover{
    color: $btn;
  }

  .jq-number__field {
    width: 100px;
    border: 1px solid $btn;  
  }
  .jq-number__field input {
    width: 100%;
    padding: 12px 9px;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    @extend %Rubik-400;
    color: #333333;
    text-align: center;
  }
  .jq-number{
    padding: 0;
    position: relative;  
  }
  .jq-number__spin {
    cursor: pointer;
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    transform: translateY(-50%);
  }
  .jq-number__spin.minus{
    left: 8px;
  }
  .jq-number__spin.plus{
    right: 20px;
  }
  .jq-number__spin::after{
    content: '';
    position: absolute;  
    top: 4px;
    left: 6px;
    width: 9px;
    height: 1px;
    background-color: $title__2;
  }
  .jq-number__spin.plus::before{
    content: '';
    position: absolute;  
    top: 0;
    left: 10px;
    width: 1px;
    height: 9px;
    background-color: $title__2;
  }
  .jq-number::after{
    content: '';
    position: absolute;
    top: 0;
    left: 33px;
    width: 1px;
    height: 49px;
    background-color: #a3bbc8;
  }
  .jq-number::before{
    content: '';
    position: absolute;
    top: 0;
    right: 33px;
    width: 1px;
    height: 49px;
    background-color: #a3bbc8;
  }
  
  &__tabs{
    margin-top: 80px;
    margin-bottom: 125px;
  }
  &__tabs-top{
    margin-bottom: 40px;   
    text-align: center; 
  }
  &__top-item{
    margin-right: 13px;
    @extend %btn;
    @extend %Rubik-500;
    background-color: #edf1f4;
    border: 1px solid #edf1f4;
    color: $title__2;
    font-size: 18px;
    width: 240px;
    height: 55px;
    padding: 20px 0;
    border-radius: 5px;
  }
  &__top-item:hover{
    background-color: $title__2;
    color: #fff;
  }
  &__top-item--active{
    background-color: $btn;
    color: #fff;    
  }
  &__box-item{
    display: none;
    &.product-detalis__box-item--active{
      display: block;
    }
  }
  &__box-text{
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    @extend %Rubik-400;
  }
  &__slider-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }  
  &__slider-title{
    font-size: 36px;
    @extend %DMSans-700;
    color: $title__2;
  }
  &__slider-btn{
    border: 2px solid #edf1f4;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px 12px;
    cursor: pointer;
    transition: all .5s;
  }
  &__slider-btn:hover{
    border: 2px solid $btn;
  }
  &__slider-inner{
    .products__item{
      margin: 0 3px 40px;
    }
  }
}



.filter-category{
  margin-bottom: 50px;
  &__label{
    display: flex;
    flex-direction: column;
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    background-color: #fff; 
    padding: 8px 10px 9px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
  }
  &__checkbox:hover{
    color: $btn;
  }
  &__item-number{
    padding-right: 10px;
  }
  &__input{
    @extend %checkbox-hidden;     
    &:checked + .filter-category__checkbox{
      border: 1px solid #edf1f4;
      background-color: #edf1f4;      
    }    
  }  
}

.filter-price{  
  margin-bottom: 80px;
  &__label{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    @extend %Rubik-400;
    color: $title__2;
  }  
  &__span{
    margin-top: 15px;    
  }
  .irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: #c2d2db;
    border: 1px solid #dfe7ec;
    border-radius: 5px;
  }
  .irs--flat .irs-handle {
    top: 0px;
    width: 15px;
    height: 15px;
    background-color: $btn;
  }
  .irs--flat {
    height: 15px;
  }
  .irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    border: 1px solid #dfe7ec;
    background-color: #c2d2db;
  }
  .irs--flat .irs-handle>i:first-child {
    display: none;
  }
  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    display: none;
  }
  .irs--flat .irs-min, .irs--flat .irs-max {
    display: none;
  }
}

.filter-brand{
  margin-bottom: 41px;
  &__item-number{
    color: #b3b3b3;
  }
  &__checkbox{    
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    background-color: #fff; 
    padding: 8px 9px 10px 12px;
    border-radius: 5px;
    color: $title__2;
    cursor: pointer;
    transition: all .5s;
    @extend %Rubik-400;
  }
  &__checkbox:hover{
    color: $btn;
  }
  &__item-number{
    padding-right: 10px
  }
  &__input{
    @extend %checkbox-hidden;    
    &:checked + .filter-brand__checkbox{
      border: 1px solid #edf1f4;
      background-color: #edf1f4;
      .filter-brand__item-number{
        color: $title__2;
      }
    }    
  }   
}

.recent{  
  &__box{
    display: flex;
    margin-bottom: 20px;
  }
  &__border{
    border: 1px solid #f2f2f2;    
    margin-right: 20px;
    width: 70px;
    box-shadow: 0px 0px 8px 1px rgba(37,37,37,0.06);
  }
  &__img{
    margin: 3px auto;
  }
  &__title{
    font-size: 14px;
    color: #333333;
    line-height: 15px;
    @extend %Rubik-400;
    margin-bottom: 10px;
    transition: all .5s;
    &:hover{
      color: $btn;
    }
  }
  .star{
    margin-bottom: 12px;
  }
  &__price{
    font-size: 15px;
    color: #333333;
    line-height: 27px;
    @extend %Rubik-400;
  }
}


.top-slider{  
  &__item{    
    background-color: $accent;
    padding: 220px 220px;    
    padding-bottom: 279px;
    display: flex !important;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
  }
  &__item::before{
    content: "";
    position: absolute;
    top: 51%;
    right: 186px;
    width: 630px;
    height: 630px;
    background-image: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  &__content{
    padding-right: 60px;
  }
  &__title{
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    @extend %Rubik-500;
    color: $title__2;
    margin-bottom: 28px;
  }
  &__text{
    max-width: 380px;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %Rubik-400;
  }
  &__btn{
    display: inline-block;
    border: 1px solid $btn;
    background-color: $btn;
    font-size: 15px;
    line-height: 12px;
    padding: 23px 104px 23px 22px;
    color: #fff;
    @extend %Rubik-500;
    position: relative;
    transition: all .5s;
  }
  &__btn:hover{
    background-color: $title__2;
    border: 1px solid  $title__2;
    border-radius: 3px;
  }
  &__btn::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 23px;
    right: 20px;
    height: 9px;
    width: 22px;    
  }
  .slick-slide img {
    max-width: 50%;
    margin-top: 50px;
    z-index: 2;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-bottom: -275px;
    transform: translateY(-362%);
    li{
        margin-right: 8px;
        margin-bottom: 45px;
      button{
        padding: 0;
        font-size: 11px;      
        color: $title__2;  
        width: 30px;
        height: 30px;
        border: 1px solid #fde3cc;
        background-color: #fde3cc;
        border-radius: 50%;        
        cursor: pointer;
      }
      &.slick-active button{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }  
}


.products{
  .info{
    height: 170pxs;
    background-color: #fef7f0;
    &__wraper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 76px;
    }
    &__item{
      width: 33.3%;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }
    &__item-centre{
      border-left: 1px solid #e8e4df;
      border-right: 1px solid #e8e4df;
    }    
    &__content{
      position: relative;      
      padding-left: 70px;
    }
    &__content-support{
      margin-left: 5px;
      margin-top: 4px;
      width: 285px;
    }
    &__content-support::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/support.png');
      background-repeat: no-repeat;
      background-size: cover; 
      height: 50px;
      width: 50px;
      left: -7px;
      top: 14px;
    }
    &__content-payment{
      width: 210px;
      padding-left: 0px;
      margin-left: 83px;
    }
    &__content-payment::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/payment.png');
      background-repeat: no-repeat;
      background-size: cover; 
      height: 50px;
      width: 50px;
      left: -86px;
      top: 14px;
    }    
    &__content-delivery::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/delivery.png');
      background-repeat: no-repeat;
      background-size: cover; 
      height: 50px;
      width: 50px;
      left: -7px;
      top: 0px;
    }    
    &__content-title{
      font-size: 18px;
      line-height: 40px;
      color: #414141;        
    }
    &__content-text{
      font-size: 16px;
      line-height: 30px;
      color: #585858;
      @extend %DMSans-400;
    }
  }
  &__title{
    margin-bottom: 31px;
    text-align: center;   
    line-height: 30px; 
  }
  &__filter-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__btn{
    padding: 0;
    border: none;
    background-color: transparent;
    @extend %DMSans-400;
    font-size: 16px;
    color: #8b8b8b;
    cursor: pointer;    
  }
  .mixitup-control-active {
    color: #1a1a1a;
  }
  .products__btn + .products__btn{
    margin-left: 30px;
  }
  &__items{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 145px;
  }
  &__item{
    width: calc(100% / 4 - 30px);
    height: 375px;
    background-color: #fff;
    margin: 0 15px 40px;    
    box-shadow: 0 6px 47px 3px rgba(37,37,37,0.07);
    border-radius: 10px;
  }
  &__item-img{
    margin: auto;  
    max-height: 195px;
  }  
  &__item-title{
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 40px;
    color: $title__2;   
    margin-bottom: -10px; 
  }
  &__item-price{
    font-size: 16px;
    line-height: 40px;
    color: $btn;
    margin-bottom: 22px;
  }
  &__item-box{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    text-align: center;
    position: relative;     
    overflow: hidden;    
    .products__item-links{
      display: flex;
      position: absolute;  
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;    
      svg{
        display: block;
      }       
    }        
  }
  
  &__item-box:hover{
    .products__item-links{
      display: flex;
      position: absolute; 
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;  
    }
    .products__item-link{    
      padding: 12px;
      margin:-1px 7px;
      border: 1px solid #fff;
      background: #fff;  
      border-radius: 50%;    
      transition: all .3s;
    }
    .products__item-link:hover{
      height: 100%;
      border: 1px solid $btn;
      border-radius: 50%;
      background: $btn;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.5);
      transform: scale(1.2); 
      path{
        fill: #fff;
      }      
    }
  } 
}


.promo{
  margin-bottom: 108px;
  &__items{
    display: flex;
  }
  &__item{
    width: 50%;
    display: flex;
    background-color: #feefe2;
    padding: 50px;   
    padding-top: 70px;
    padding-left: 137px; 
    padding-bottom: 80px;
    max-height: 390px;
  }
  &__item + .promo__item{
    margin-left: 53px;
  }
  &__item-img{
    height: auto;
    margin-top: -164px;
    margin-right: 19px;
  }
  &__item-content-2{
    margin-left: 44px;
    margin-top: -14px;
    .promo__title{
      margin-bottom: 9px;
    }
    .promo__text{
      margin-bottom: 28px;
    }
  }
  &__title{
    max-width: 345px;
    margin-top: 34px;
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 32px;
    color: $title__2;    
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    margin-bottom: 27px;
  }
  &__btn{
    display: inline-block;
    border: 1px solid #b3b7b5;
    border-radius: 3px;
    padding: 16px 90px 16px 20px;
    color: #436372;
    position: relative;
    transition: all .3s;
  }
  &__btn:hover{
    background-color: $title__2;
    border: 1px solid  $title__2;
    border-radius: 3px;
    color: #fff;    
  }
  &__btn::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow2.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 24px;
    right: 20px;
    height: 10px;
    width: 25px;   
    transition: all .3s; 
  }
  &__btn:hover::before{
      background-image: url('../images/icons/arrow.png');
  }
}


.design{
  &__title{
    text-align: center;
    margin-bottom: 28px;
    line-height: 30px;
  }
  &__filter-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__btn{
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #8b8b8b;
    cursor: pointer;
  }
  .design__btn + .design__btn{
    margin-left: 30px;
  }
  .mixitup-control-active {
    color: #1a1a1a;
  }
  &__items{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  &__item{
    width: calc(100% / 3 - 30px);
    height: 245px;
    margin: 0 15px 35px;
    background-color: #f8f8f8;
    position: relative;
    transition: all .5s;
  }  
  &__item:hover{
    background-color: $accent;
    border-radius: 10px;
    transform: scale(1.1);  
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.5);  
  }
  &__item-link{
    width: 100%;
  }
  &__item-box{
    width: 100%;
    height: 100%;
  }  
  &__item-title{
    width: 210px;
    padding: 32px 0 13px 21px;
    font-size: 20px;
    line-height: 23px;
    color: $title;
    @extend %DMSans-700;
  }
  &__item-text{
    font-size: 16px;
    @extend %DMSans-500;
    color: $btn;
    padding-left: 22px;
  }
  &__item-img{
    position: absolute;
    right: 0;
    bottom: 30px;
  }
  &__item-img--r{
    right: 25px;
  }
}


.video{  
  margin-bottom: 120px;  
  &__popup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    transition: all 0.5s;
  }
  &__popup:hover{
    opacity: 1;
  }
  &__play{
   background-image: url("../images/icons/video-play-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 98px;
   height: 98px;   
   transition: all 0.2s;
  }  
  &__play:hover{
    background-image: url("../images/icons/video-play-bg-hover.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 127px;
    height: 127px; 
  }
}

.articles{
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  &__add{
    font-size: 16px;
    line-height: 18px;
    color: #262626;
    @extend %DMSans-700;
    padding-top: 7px;
    padding-right: 25px;
    position: relative;
    transition: all 0.3s;
  }
  &__add::after{
    content: ">";
      position: absolute;
      top: 7px;
      right: 0;
  }
  &__add:hover{
    color: $default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  &__item{
    width: calc(100% / 3 - 20px);  
    height: 425px;
    background-color: #fff;
    transition: all 0.5s;
  }  
  &__item:hover{
    transform: scale(1.1); 
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.5);
  }
  &__img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 34px;  
  }  
  &__content{
    height: 90px;
    position: relative;
    padding: 0 45px 0 30px;
  }
  &__news{
    position: absolute;
    top: -53px;
    left: 30px;
    font-size: 14px;
    line-height: 12px;
    color: #fff;
    border: 1px solid $btn;
    background-color: $btn;
    padding: 10px 30px ;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
  }  
  &__news:hover{
    border: 1px solid $title__2;
    background-color: $title__2;
  }
  &__link{
    font-size: 18px;
    line-height: 18px;
    color: #262626;   
    @extend %DMSans-500;
    transition: all 0.3s;    
  }
  &__link:hover{
    color: $default;
  }
  &__info{
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding-top: 12px;
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 30px;    
    margin: -15px 45px 0 30px;
    .articles__date{
    color: #222933;    
    position: relative;
    margin-right: 25px;
    padding-left: 17px;
    }
    .articles__date::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/date.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      top: 6px;
      left: 0;
    }
    .articles__author{
      color: #222933; 
      padding-left: 15px; 
      position: relative;
      transition: all 0.5s;  
    }
    .articles__author::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/admin.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      top: 6px;
      left: 0;
    }
    .articles__author:hover{
      color: $default; 
      font-weight: 700px;
    }
  }  
}

.brands{
  background-color: #fef7f0;
  padding: 260px 0 90px;
  margin-top: -295px;
  margin-bottom: 76px;
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: flex;
    align-items: center;
    height: 90px;
    &:last-child{
      padding-right: 42px;
    }
  }
  &__img{
    height: auto;
    max-width: 100%;
  }
}
.brands-page{
  height: 250px;
  background-color: #fef7f0;
  padding: 75px 0px;
  margin-bottom: 70px;
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: flex;
    align-items: center;
    height: 90px;
    &:last-child{
      padding-right: 42px;
    }
  }
  &__img{
    height: auto;
    max-width: 100%;    
  }
}

.page-404{
  padding: 110px 0 120px;
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  }
  &__content{
    max-width: 570px;
    width: 100%;
  }
  &__title{
    color: #28384f;
    font-size: 48px;
    margin-bottom: 40px;
  }
  &__text{
    font-size: 16px;
    margin-bottom: 55px;
    max-width: 470px;
  }
  &__link{
    font-size: 14px;
    line-height: 21px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    padding: 10px 17px;
    margin-left: -10px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &__link:hover{
      background-color: $title__2;      
    }
}

.footer{
  .footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #dae4e9;
    &__contact{
      margin-right: -50px;
    }
    .logo__img{
      margin-bottom: 23px;
    } 
    &__contact-list{
      width: 200px;
    }
    &__contact-item{
      margin-bottom: 12px;
    }
    &__contact-link{
      font-size: 14px;
      color: $default;
      @extend %Rubik-400;
      margin-bottom: 20px;
      transition: all .3s;
    }
    &__contact-link:hover{
      color: #1f2044;
    }
    &__items{
      width: 150px;
    }
    &__items-newsletter{
      width: 270px;
    }
    &__title{
      font-size: 16px;
      line-height: 14px;
      color: #1f2044;
      @extend %DMSans-700;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: uppercase;
    }
    &__item{
      margin-bottom: 8px;
    }
    &__link{
      font-size: 14px;
      line-height: 20px;
      color: $default;
      @extend %Rubik-400;
      transition: all .3s;
    }    
    &__link:hover{
      color: #1f2044;
    }
    &__text{
      font-size: 14px;
      line-height: 24px;
      @extend %Rubik-400;
      margin-bottom: 33px;
    }
    &__form{
      display: flex;
    }
    &__form-email{
      background-color: #fef7f0;
      font-size: 14px;
      border: none;
      padding: 8px 10px;
      width: 170px;
      padding-right: 10px;
      margin-right: 10px;
      outline: none;
    }
    &__form-email::-webkit-input-placeholder{
      color: #234969;
    }
    &__form-btn{
      font-size: 14px;
      line-height: 21px;
      background-color: $btn;
      color: #fff;
      border: none;
      padding: 10px 17px;   
      margin-left: -10px;
      cursor: pointer;
      @extend %DMSans-400;
      transition: all .3s;
    }
    &__form-btn:hover{
      background-color: $title__2;      
    }
  }
  &__line{
    color: #dae4e9;
    @extend %DMSans-400;
  }
  .footer-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 40px;
    position: relative;
    &__text{
      font-size: 14px;
      line-height: 32px;
      margin-left: -3px;
      @extend %Rubik-500;
    }
    &__nav{
      margin-top: 5px;
    }
    &__nav-list{
      display: flex;
    }
    &__nav-item:last-child{
      .footer-copyright__nav-link{
        margin-left: 12px;
        margin-right: 0;
      }
      .footer-copyright__nav-link::after{
         content: "";         
      }      
    }
    &__nav-link{
      font-size: 14px;
      line-height: 10px;
      margin: 0 15px;      
      color: $default;
      transition: all .3s;
    }
    &__nav-link::after{
      content: "|";
      position: absolute;
      top: 13px;
      padding-left: 9px;
    }
    &__nav-link:hover{
      color: #1f2044;
    }
    
  }
} 



@import 'media';