.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 42px;
  }
  .menu{
    padding-left: 148px;
    padding-top: 6px;
    &__list{
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
    &__list-link{
      font-size: 15px;
      line-height: 12px;
      font-weight: 600;
      color: #436372;
      @extend %Rubik-500;
      transition: .3s;
    }
    &__list-link:hover{
      color: $accent;
    }
    &__list-item + .menu__list-item{
      padding-left: 35px;
    }
  }
  .user-nav{
    margin-top: -2px;
    display: flex;
    justify-content: space-between;
    &__link{
      position: relative;
    }
    &__link-img{
      width: 18px;
      height: 18px;
    }
    &__link-magnifier{
      border: 1px solid #edf1f4;
      background-color: #edf1f4;
      border-radius: 50%;
      padding: 15px;
      padding-bottom: 8px;
      margin-right: 20px;
      transition: all .5s;
    }  
    &__link-magnifier:hover{
      background-color: $title__2;
      transition: all .5s;
      path{
        fill: #fff;
      }
    }
    &__link-heartCart{
      display: flex;
      border: 1px solid #fcd7b6;
      background-color: #fcd7b6;
      border-radius: 30px;
      padding: 0px 40px;
      align-items: center;
      transition: all .5s;
    }
    &__link-heartCart:hover{
      border: 1px solid $title__2;
      background-color: $title__2;
      transition: all .5s;
      path{
        fill: #fff;
      }
    }
    &__line{
      color: #fff;
      font-size: 0;
      border-right: 1px solid #fff;
      padding: 5px 0px;
    }
    &__link-heart{
      margin-right: 28px;
      margin-top: 14px;
    }  
    &__link-cart{
      margin-left: 28px;
      margin-top: 14px;
    }
    &__link-menu{
      border: 1px solid $btn;
      background-color: $btn;
      border-radius: 50%;
      padding: 15px;
      padding-bottom: 0;
      margin-left: 20px;
      transition: all .3s;
    }
    &__link-menu:hover{
      border: 1px solid $title__2;
      background-color: $title__2;       
    }
    &__nam{
      position: absolute;
      width: 16px;
      height: 15px;
      top: -8px;
      right: -8px;
      text-align: center;
      line-height: 14px;
      font-size: 10px;
      @extend %DMSans-400;
      color: $title__2;      
      border: 1px solid #fff; 
      border-radius: 50%;
      background-color: #fff;      
    }
  }
}