.about-us{
  &__top{
    display: flex;
    margin-bottom: 120px;
  }  
  &__img{
    width: 100%;
    margin: 10px 45px 0 -2px;
  }
  &__content{    
    margin-right: 10px;
  }
  &__content-box{
    display: flex;
    margin: 126px 0 43px 8px;
    .content-box__number{
      font-size: 140px;
      line-height: 32px;
      color: $btn;
      @extend %DMSans-700;
    }
    .content-box__items{
      margin-left: 28px;
      margin-top: -12px;
    }
    .content-box__text{
      font-size: 16px;
      color: $title__2;
      margin-bottom: 5px;
      @extend %Rubik-400;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 35px;
    @extend %DMSans-700;
    color: $title__2;
    margin-bottom: 38px;
    margin-left: 2px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $title__2;
    @extend %Rubik-400;
    margin-bottom: 62px;
  }
  &__line{
    width: 500px;
    margin-left: 5px;
    border: 1px solid #e6eaf0;
  }  
  &__info{
    display: flex;
    justify-content: space-between;    
    max-width: 527px;
  }
  &__info-item{
    position: relative;
    padding-left: 60px;
    margin-top: 26px;
    .info-item__number{
      font-size: 36px;
      line-height: 38px;
      color: $title__2;
      margin-bottom: 3px;
      @extend %DMSans-700;
    }
    .info-item__text{
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
      @extend %DMSans-700;
    }
  }  
  &__info-projects::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/projects.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;   
  }
  &__info-revenue::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/revenue.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;   
  }
  &__info-awards::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/awards.png');
    background-repeat: no-repeat;
    background-size: cover;    
    top: 5px;
    left: 0px;
    height: 40px;
    width: 40px;    
  }
  &__statistics{
    background-color: $accent;   
    margin-bottom: 125px; 
  }
  &__statistics-items{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 93px;
    height: 320px;    
    .about-us__statistics-item{
      position: relative;
      text-align: center;
    }
    .statistics-item__clients{
      margin-left: 40px;
      .statistics-item__img{
        top: -80px;
        left: 55px;
      }
    }
    .statistics-item__products{
      margin-left: -22px;
      .statistics-item__img{
        top: -72px;
        left: 44px;
      }      
    }
    .statistics-item__time{
      margin-right: 0px;
       .statistics-item__img{
        top: -84px;
        left: 42px;
      }
    }
    .statistics-item__brands{  
      margin-right: 66px;
       .statistics-item__img{
        top: -84px;
        left: 38px;
      }
    }    
    .statistics-item__img{
      position: absolute;
      margin-bottom: 30px;
      top: 0;
      left: 0;
    }
    .statistics-item__number{
      font-size: 36px;
      line-height: 32px;
      @extend %DMSans-700;
      color: $title__2;
      margin-bottom: 13px;
    }
    .statistics-item__text{
      font-size: 18px;
      line-height: 32px;
      @extend %DMSans-700;
      color: $title__2;
    }
  }  
}

@media (max-width: 1200px){
  .about-us{   
    &__top{      
      margin-bottom: 60px;
    }
    &__content{
      width: 500px;
    }  
    &__img{
      width: 40%;
      height: 40%;
    }
    &__content-box{
      display: flex;
      margin: 60px 0 30px 8px; 
    }   
    &__text{
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 950px){
  .about-us{  
    &__content{
      max-width: 450px;
    } 
    &__line{
      width: 450px;
    }
    &__info {
      max-width: 470px;
    }
    &__statistics-items{
      height: 260px; 
    }
    .statistics-item__text{
      line-height: 25px;
      max-width: 99%;
    }    
  }
}

@media (max-width: 850px){
 .about-us{  
   &__top{      
      margin-bottom: 30px;
    }
    &__content{
      max-width: 360px;
    } 
    &__content-box{
      display: flex;
      margin: 40px 0 20px 8px; 
      .content-box__number{
        font-size: 120px;
      } 
    }
    .content-box__items {
      margin-top: -23px;
    }
    &__title{
      margin-bottom: 10px;
    }
    &__text {
      font-size: 14px;
      line-height: 23px;
    }
    &__line{
      width: 360px;
    }
    &__img{
      margin: 10px 20px 0 -2px;
    }
    &__info {
      max-width: 385px;
    }
    &__info-item{
      padding-left: 50px;
    }
    &__statistics-items{
      height: 200px; 
    }
    .info-item__number{
      font-size: 25px;
    } 
    .statistics-item__text{
      max-width: 99%;
      font-size: 16px;
      line-height: 21px;
    }    
    .statistics-item__number{
      font-size: 26px;
      line-height: 15px;
    }
    .statistics-item__clients{
      margin-left: 20px;
    }
    .statistics-item__products{
      margin-left: 0;
    }
    .statistics-item__brands{  
      margin-right: 20px;
    }  
  } 
}

@media (max-width: 650px){
  .about-us{
    &__img{
      display: none;
    }
     &__content {
      max-width: 490px;      
    }    
    &__line{
      width: 490px;
    }
    &__info{
      max-width: 490px;
    }
    &__statistics {
      margin-bottom: 60px;
    }
    &__statistics-items {
      height: 340px;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
      flex-direction: column;
    }
    .statistics-item__text {
      max-width: 100%;
    }
    .statistics-item__clients {
      margin-left: 0;
      padding-left: 95px;
      .statistics-item__img {
        top: 0;
        left: 0;
      }
    }
    .statistics-item__products {
      padding-left: 105px;
      .statistics-item__img {
        top: 0;
        left: 0;
      }
    }
    .statistics-item__time {
      padding-left: 110px;
      .statistics-item__img {
        top: 0;
        left: 0;
      }
    }
    .statistics-item__brands {
      margin-right: 0;
      padding-left: 110px;
      .statistics-item__img {
        top: 0;
        left: 0;
      }
    }
  }    
}

@media (max-width: 600px){
  .about-us{    
    &__content {
      max-width: 420px;
    }
    &__line{
      width: 420px;
    }
    &__info{
      max-width: 420px;
    }
  }
}

@media (max-width: 450px){
  .about-us{
    &__content {
      max-width: 320px;
    }
    &__line{
      width: 290px;
    }
    &__info{
      max-width: 320px;
    }
    &__info-item{
      padding-left: 35px;
      margin-top: 20px;
    }
    .about-us__info-projects::before {
      height: 30px;
      width: 30px;
    }
    .about-us__info-revenue::before{
      height: 30px;
      width: 30px;
    }
    .about-us__info-awards::before{
      height: 30px;
      width: 30px;
    }
    .info-item__number{
      font-size: 23px;
    } 
    .statistics-item__text{
      font-size: 14px;
    }
  }  
}