.footer{
  .footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #dae4e9;
    &__contact{
      margin-right: -50px;
    }
    .logo__img{
      margin-bottom: 23px;
    } 
    &__contact-list{
      width: 200px;
    }
    &__contact-item{
      margin-bottom: 12px;
    }
    &__contact-link{
      font-size: 14px;
      color: $default;
      @extend %Rubik-400;
      margin-bottom: 20px;
      transition: all .3s;
    }
    &__contact-link:hover{
      color: #1f2044;
    }
    &__items{
      width: 150px;
    }
    &__items-newsletter{
      width: 270px;
    }
    &__title{
      font-size: 16px;
      line-height: 14px;
      color: #1f2044;
      @extend %DMSans-700;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: uppercase;
    }
    &__item{
      margin-bottom: 8px;
    }
    &__link{
      font-size: 14px;
      line-height: 20px;
      color: $default;
      @extend %Rubik-400;
      transition: all .3s;
    }    
    &__link:hover{
      color: #1f2044;
    }
    &__text{
      font-size: 14px;
      line-height: 24px;
      @extend %Rubik-400;
      margin-bottom: 33px;
    }
    &__form{
      display: flex;
    }
    &__form-email{
      background-color: #fef7f0;
      font-size: 14px;
      border: none;
      padding: 8px 10px;
      width: 170px;
      padding-right: 10px;
      margin-right: 10px;
      outline: none;
    }
    &__form-email::-webkit-input-placeholder{
      color: #234969;
    }
    &__form-btn{
      font-size: 14px;
      line-height: 21px;
      background-color: $btn;
      color: #fff;
      border: none;
      padding: 10px 17px;   
      margin-left: -10px;
      cursor: pointer;
      @extend %DMSans-400;
      transition: all .3s;
    }
    &__form-btn:hover{
      background-color: $title__2;      
    }
  }
  &__line{
    color: #dae4e9;
    @extend %DMSans-400;
  }
  .footer-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 40px;
    position: relative;
    &__text{
      font-size: 14px;
      line-height: 32px;
      margin-left: -3px;
      @extend %Rubik-500;
    }
    &__nav{
      margin-top: 5px;
    }
    &__nav-list{
      display: flex;
    }
    &__nav-item:last-child{
      .footer-copyright__nav-link{
        margin-left: 12px;
        margin-right: 0;
      }
      .footer-copyright__nav-link::after{
         content: "";         
      }      
    }
    &__nav-link{
      font-size: 14px;
      line-height: 10px;
      margin: 0 15px;      
      color: $default;
      transition: all .3s;
    }
    &__nav-link::after{
      content: "|";
      position: absolute;
      top: 13px;
      padding-left: 9px;
    }
    &__nav-link:hover{
      color: #1f2044;
    }
    
  }
} 